**Modules**

In [1]:
import pandas as pd
import numpy as np
import joblib

**Reading the interaction index data**

In [3]:
req_interaction_index = np.load("../3_ProcessedData/required_interaction_index_RE_v1.npy")

In [4]:
req_interaction_index

array([        0,     85452,    148581, ..., 228648094, 228648095,
       228648096], dtype=int64)

In [5]:
len(req_interaction_index)

219925589

**Reading the complete interaction file data**

In [6]:
req_book_ids = pd.read_csv("../Initial/goodreads_interactions.csv",
                           usecols=["user_id","book_id","is_read","rating"]).iloc[req_interaction_index]

In [7]:
req_book_ids.shape

(219925589, 4)

In [14]:
req_book_ids.head()

        user_id  book_id  is_read  rating
0             0      948        1       5
85452       201      948        1       3
148581      339      948        1       3
328679      683      948        1       5
928107     1856      948        0       0

In [10]:
req_book_ids.tail()

           user_id  book_id  is_read  rating
228648092   876136  2360592        1       5
228648093   876136  2360591        1       5
228648094   876136  2360590        1       5
228648095   876136  2360589        1       5
228648096   876136  2360588        1       5

**Reading the book_id mapping file**

In [11]:
csv_book_mapping = joblib.load('../3_ProcessedData/csvid_to_bookid_mapper_RE_v1.joblib')

**Mapping the csv_id into book_id**

In [12]:
req_book_ids["book_id"] = req_book_ids["book_id"].map(csv_book_mapping)

In [13]:
req_book_ids.head()

        user_id  book_id  is_read  rating
0             0       12        1       5
85452       201       12        1       3
148581      339       12        1       3
328679      683       12        1       5
928107     1856       12        0       0

In [14]:
req_book_ids.tail()

           user_id   book_id  is_read  rating
228648092   876136  36110583        1       5
228648093   876136  36110839        1       5
228648094   876136  36110997        1       5
228648095   876136  36217419        1       5
228648096   876136  36217772        1       5

**Number of unique users**

In [15]:
req_book_ids["user_id"].nunique()

866506

**Number of unique book_id**

In [16]:
req_book_ids["book_id"].nunique()

2113028

**Exporting filtered interaction data**

In [17]:
req_book_ids.to_parquet('../3_ProcessedData/filtered_interaction_RE_v2.parquet', index=True, compression="snappy")