**Modules**

In [1]:
import pandas as pd

**Import data**

In [2]:
items = pd.read_parquet('../3_ProcessedData/books_SE_v4.parquet')

In [3]:
items.shape

(2113033, 20)

In [4]:
items.columns

Index(['isbn', 'country_code', 'language_code', 'average_rating',
       'description', 'link', 'publisher', 'num_pages', 'publication_day',
       'isbn13', 'publication_month', 'publication_year', 'url', 'image_url',
       'book_id', 'ratings_count', 'title', 'title_without_series',
       'mod_title', 'mod_title_without_series'],
      dtype='object')

In [5]:
items.head()

,isbn,country_code,language_code,average_rating,description,link,publisher,num_pages,publication_day,isbn13,publication_month,publication_year,url,image_url,book_id,ratings_count,title,title_without_series,mod_title,mod_title_without_series
0,0312853122,US,,4.00,,https://www.goodreads.com/book/show/5333265-w-...,St. Martin's Press,256,1,9780312853129,9,1984,https://www.goodreads.com/book/show/5333265-w-...,https://images.gr-assets.com/books/1310220028m...,5333265,3,W.C. Fields: A Life on Film,W.C. Fields: A Life on Film,wc fields a life on film,wc fields a life on film
1,0743509986,US,,3.23,"Anita Diamant's international bestseller ""The ...",https://www.goodreads.com/book/show/1333909.Go...,Simon & Schuster Audio,,1,9780743509985,10,2001,https://www.goodreads.com/book/show/1333909.Go...,https://s.gr-assets.com/assets/nophoto/book/11...,1333909,10,Good Harbor,Good Harbor,good harbor,good harbor
2,,US,eng,4.03,Omnibus book club edition containing the Ladie...,https://www.goodreads.com/book/show/7327624-th...,"Nelson Doubleday, Inc.",600,,,,1987,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,7327624,140,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","The Unschooled Wizard (Sun Wolf and Starhawk, ...",the unschooled wizard sun wolf and starhawk 12,the unschooled wizard sun wolf and starhawk 12
3,0743294297,US,eng,3.49,Addie Downs and Valerie Adler were eight when ...,https://www.goodreads.com/book/show/6066819-be...,Atria Books,368,14,9780743294294,7,2009,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,6066819,51184,Best Friends Forever,Best Friends Forever,best friends forever,best friends forever
4,0850308712,US,,3.40,,https://www.goodreads.com/book/show/287140.Run...,,,,9780850308716,,,https://www.goodreads.com/book/show/287140.Run...,https://images.gr-assets.com/books/1413219371m...,287140,15,Runic Astrology: Starcraft and Timekeeping in ...,Runic Astrology: Starcraft and Timekeeping in ...,runic astrology starcraft and timekeeping in t...,runic astrology starcraft and timekeeping in t...

**Checking for null values**

In [6]:
items.isnull().sum()

isbn                        0
country_code                0
language_code               0
average_rating              0
description                 0
link                        0
publisher                   0
num_pages                   0
publication_day             0
isbn13                      0
publication_month           0
publication_year            0
url                         0
image_url                   0
book_id                     0
ratings_count               0
title                       0
title_without_series        0
mod_title                   0
mod_title_without_series    0
dtype: int64

- Although we can visually see empty data but null values are not there

**Looking at column dtypes**

In [7]:
items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2113033 entries, 0 to 2113032
Data columns (total 20 columns):
 #   Column                    Dtype
---  ------                    -----
 0   isbn                      object
 1   country_code              object
 2   language_code             object
 3   average_rating            object
 4   description               object
 5   link                      object
 6   publisher                 object
 7   num_pages                 object
 8   publication_day           object
 9   isbn13                    object
 10  publication_month         object
 11  publication_year          object
 12  url                       object
 13  image_url                 object
 14  book_id                   object
 15  ratings_count             object
 16  title                     object
 17  title_without_series      object
 18  mod_title                 object
 19  mod_title_without_series  object
dtypes: object(20)
memory usage: 338.5+ MB

**We need to convert the dtypes of some of the columns to numeric before uploading the data into database**

In [8]:
single_record = items.iloc[0]
single_record

isbn                                                               0312853122
country_code                                                               US
language_code
average_rating                                                           4.00
description
link                        https://www.goodreads.com/book/show/5333265-w-...
publisher                                                  St. Martin's Press
num_pages                                                                 256
publication_day                                                             1
isbn13                                                          9780312853129
publication_month                                                           9
publication_year                                                         1984
url                         https://www.goodreads.com/book/show/5333265-w-...
image_url                   https://images.gr-assets.com/books/1310220028m...
book_id                                                               5333265
ratings_count                                                               3
title                                             W.C. Fields: A Life on Film
title_without_series                              W.C. Fields: A Life on Film
mod_title                                            wc fields a life on film
mod_title_without_series                             wc fields a life on film
Name: 0, dtype: object

In [9]:
for i in single_record.index:
    print(f"Column: {i} \t - Datatype: {type(single_record[i])}")

Column: isbn 	 - Datatype: <class 'str'>
Column: country_code 	 - Datatype: <class 'str'>
Column: language_code 	 - Datatype: <class 'str'>
Column: average_rating 	 - Datatype: <class 'str'>
Column: description 	 - Datatype: <class 'str'>
Column: link 	 - Datatype: <class 'str'>
Column: publisher 	 - Datatype: <class 'str'>
Column: num_pages 	 - Datatype: <class 'str'>
Column: publication_day 	 - Datatype: <class 'str'>
Column: isbn13 	 - Datatype: <class 'str'>
Column: publication_month 	 - Datatype: <class 'str'>
Column: publication_year 	 - Datatype: <class 'str'>
Column: url 	 - Datatype: <class 'str'>
Column: image_url 	 - Datatype: <class 'str'>
Column: book_id 	 - Datatype: <class 'str'>
Column: ratings_count 	 - Datatype: <class 'str'>
Column: title 	 - Datatype: <class 'str'>
Column: title_without_series 	 - Datatype: <class 'str'>
Column: mod_title 	 - Datatype: <class 'str'>
Column: mod_title_without_series 	 - Datatype: <class 'str'>

**Looking at empty values or `str.len() < 1`**

In [10]:
for col in items.columns:
    print(f"Column: {col} \t - Empty Values: {len(items.loc[items[col].str.len() < 1])}")

Column: isbn 	 - Empty Values: 820730
Column: country_code 	 - Empty Values: 457
Column: language_code 	 - Empty Values: 1026236
Column: average_rating 	 - Empty Values: 483
Column: description 	 - Empty Values: 362224
Column: link 	 - Empty Values: 483
Column: publisher 	 - Empty Values: 614022
Column: num_pages 	 - Empty Values: 723374
Column: publication_day 	 - Empty Values: 840897
Column: isbn13 	 - Empty Values: 675346
Column: publication_month 	 - Empty Values: 737678
Column: publication_year 	 - Empty Values: 556885
Column: url 	 - Empty Values: 483
Column: image_url 	 - Empty Values: 457
Column: book_id 	 - Empty Values: 0
Column: ratings_count 	 - Empty Values: 483
Column: title 	 - Empty Values: 0
Column: title_without_series 	 - Empty Values: 0
Column: mod_title 	 - Empty Values: 0
Column: mod_title_without_series 	 - Empty Values: 0

**Converting datatype of some of the columns into numeric**
- The `errors='coerce'` parameter in the `pd.to_numeric` function means that if there are any values in the specified columns that cannot be converted to numeric, those values will be set to `NaN` (Not a Number)

In [7]:
columns_to_convert = ["average_rating", 
                      "ratings_count", 
                      "num_pages", 
                      "publication_day", 
                      "publication_month", 
                      "publication_year"
                      ]

items[columns_to_convert] = items[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [8]:
items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2113033 entries, 0 to 2113032
Data columns (total 20 columns):
 #   Column                    Dtype
---  ------                    -----
 0   isbn                      object
 1   country_code              object
 2   language_code             object
 3   average_rating            float64
 4   description               object
 5   link                      object
 6   publisher                 object
 7   num_pages                 float64
 8   publication_day           float64
 9   isbn13                    object
 10  publication_month         float64
 11  publication_year          float64
 12  url                       object
 13  image_url                 object
 14  book_id                   object
 15  ratings_count             float64
 16  title                     object
 17  title_without_series      object
 18  mod_title                 object
 19  mod_title_without_series  object
dtypes: float64(6), object(14)
memory usage: 338.5+ MB

In [10]:
single_record = items.iloc[0]
single_record

isbn                                                               0312853122
country_code                                                               US
language_code
average_rating                                                            4.0
description
link                        https://www.goodreads.com/book/show/5333265-w-...
publisher                                                  St. Martin's Press
num_pages                                                               256.0
publication_day                                                           1.0
isbn13                                                          9780312853129
publication_month                                                         9.0
publication_year                                                       1984.0
url                         https://www.goodreads.com/book/show/5333265-w-...
image_url                   https://images.gr-assets.com/books/1310220028m...
book_id                                                               5333265
ratings_count                                                             3.0
title                                             W.C. Fields: A Life on Film
title_without_series                              W.C. Fields: A Life on Film
mod_title                                            wc fields a life on film
mod_title_without_series                             wc fields a life on film
Name: 0, dtype: object

In [11]:
for i in single_record.index:
    print(f"Column: {i} \t - Datatype: {type(single_record[i])}")

Column: isbn 	 - Datatype: <class 'str'>
Column: country_code 	 - Datatype: <class 'str'>
Column: language_code 	 - Datatype: <class 'str'>
Column: average_rating 	 - Datatype: <class 'numpy.float64'>
Column: description 	 - Datatype: <class 'str'>
Column: link 	 - Datatype: <class 'str'>
Column: publisher 	 - Datatype: <class 'str'>
Column: num_pages 	 - Datatype: <class 'numpy.float64'>
Column: publication_day 	 - Datatype: <class 'numpy.float64'>
Column: isbn13 	 - Datatype: <class 'str'>
Column: publication_month 	 - Datatype: <class 'numpy.float64'>
Column: publication_year 	 - Datatype: <class 'numpy.float64'>
Column: url 	 - Datatype: <class 'str'>
Column: image_url 	 - Datatype: <class 'str'>
Column: book_id 	 - Datatype: <class 'str'>
Column: ratings_count 	 - Datatype: <class 'numpy.float64'>
Column: title 	 - Datatype: <class 'str'>
Column: title_without_series 	 - Datatype: <class 'str'>
Column: mod_title 	 - Datatype: <class 'str'>
Column: mod_title_without_series 	 - Datatype: <class 'str'>

**We can again check the missing value counts**

- Number of empty values in some specific column

```
Column: average_rating 	 - Empty Values: 483
Column: num_pages 	 - Empty Values: 723374
Column: publication_day 	 - Empty Values: 840897
Column: publication_month 	 - Empty Values: 737678
Column: publication_year 	 - Empty Values: 556885
Column: ratings_count 	 - Empty Values: 483
```

In [12]:
items.isnull().sum()

isbn                             0
country_code                     0
language_code                    0
average_rating                 483
description                      0
link                             0
publisher                        0
num_pages                   723374
publication_day             840897
isbn13                           0
publication_month           737678
publication_year            556885
url                              0
image_url                        0
book_id                          0
ratings_count                  483
title                            0
title_without_series             0
mod_title                        0
mod_title_without_series         0
dtype: int64

- We can obseve that the numeric conversion of some of the columns converted the empty values into a `null` value

**Imputing the missing values as per the folllowing strategy**
- `publication_day, publication_month, publication_year, num_pages`  with 0
- `ratings_count, average_rating` with -1

In [13]:
fill_zero = ["publication_day", "publication_month", "publication_year", "num_pages"]
fill_neg_one = ["ratings_count", "average_rating"]

In [14]:
items[fill_zero] = items[fill_zero].fillna(0)
items[fill_neg_one] = items[fill_neg_one].fillna(-1)

In [15]:
items.isnull().sum()

isbn                        0
country_code                0
language_code               0
average_rating              0
description                 0
link                        0
publisher                   0
num_pages                   0
publication_day             0
isbn13                      0
publication_month           0
publication_year            0
url                         0
image_url                   0
book_id                     0
ratings_count               0
title                       0
title_without_series        0
mod_title                   0
mod_title_without_series    0
dtype: int64

**Dtypes of `"publication_day", "publication_month", "publication_year", "num_pages", "ratings_count"` should be in `int64` instead of `float64`**

In [16]:
float_to_int = ["publication_day", "publication_month", "publication_year", "num_pages", "ratings_count"]

for col in float_to_int:
    items[col] = items[col].astype("int64")

In [17]:
items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2113033 entries, 0 to 2113032
Data columns (total 20 columns):
 #   Column                    Dtype
---  ------                    -----
 0   isbn                      object
 1   country_code              object
 2   language_code             object
 3   average_rating            float64
 4   description               object
 5   link                      object
 6   publisher                 object
 7   num_pages                 int64
 8   publication_day           int64
 9   isbn13                    object
 10  publication_month         int64
 11  publication_year          int64
 12  url                       object
 13  image_url                 object
 14  book_id                   object
 15  ratings_count             int64
 16  title                     object
 17  title_without_series      object
 18  mod_title                 object
 19  mod_title_without_series  object
dtypes: float64(1), int64(5), object(14)
memory usage: 338.5+ MB

In [ ]:
# stop execution

10/0

**Export the data**

In [18]:
items.to_parquet('../3_ProcessedData/books_SE_v5.parquet', index=True, compression="snappy")

### Import Verification

In [19]:
items = pd.read_parquet('../3_ProcessedData/books_SE_v5.parquet')
items.shape

(2113033, 20)

In [20]:
items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2113033 entries, 0 to 2113032
Data columns (total 20 columns):
 #   Column                    Dtype
---  ------                    -----
 0   isbn                      object
 1   country_code              object
 2   language_code             object
 3   average_rating            float64
 4   description               object
 5   link                      object
 6   publisher                 object
 7   num_pages                 int64
 8   publication_day           int64
 9   isbn13                    object
 10  publication_month         int64
 11  publication_year          int64
 12  url                       object
 13  image_url                 object
 14  book_id                   object
 15  ratings_count             int64
 16  title                     object
 17  title_without_series      object
 18  mod_title                 object
 19  mod_title_without_series  object
dtypes: float64(1), int64(5), object(14)
memory usage: 338.5+ MB