**Import modules**

In [10]:
import pandas as pd
import joblib

**Reading data**

In [2]:
book_id_map = pd.read_csv("../Initial/book_id_map.csv")

In [3]:
book_id_map.shape

(2360650, 2)

In [4]:
book_id_map.head()

   book_id_csv   book_id
0            0  34684622
1            1  34536488
2            2  34017076
3            3     71730
4            4  30422361

In [5]:
book_id_map.dtypes

book_id_csv    int64
book_id        int64
dtype: object

**Creating a book_id to book_id_csv mapping dictionary**

In [6]:
csv_book_mapping = dict(zip(list(book_id_map["book_id_csv"].values),
                            list(book_id_map["book_id"].values)))

In [7]:
csv_book_mapping[0]

34684622

In [8]:
csv_book_mapping[4]

30422361

In [9]:
csv_book_mapping_int = {int(key): int(value) for key, value in csv_book_mapping.items()}

**Exporting the mapping dictionary - all books - joblib**

In [12]:
joblib.dump(csv_book_mapping_int, '../Processed/csvid_to_bookid_mapper_v1.joblib')

['../Processed/csvid_to_bookid_mapper_v1.joblib']